#account {
    position: fixed;
    right: 0;
    top: 0;
  }
#options{
    position: fixed;     
       text-align: center;    
       bottom: 100px; 
       width: 100%;
}

  #main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./fishtank.jpeg');
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
}